{% extends "default.html" %}
{% block title %}File System Checks{% endblock %}

{% block nav %}
{% include 'fsck-nav.html' %}
{% endblock %}

{% block content %}

<form action="{{url_for('fsck.route_fs')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Detect all FS issues.
    </h2>
    <p class="card-text">
      Detect and repair filesystem and database issues, for instance:
    </p>
    <ul>
      <li>
        Finding firmware that has gone missing from the download directory.
      </li>
      <li>
        Finding firmware that references the same on-dist resource.
      </li>
      <li>
        Attempt to sign all firmware that is pending.
      </li>
      <li>
        Fixing up the format of existing component issues, e.g.
        <code>Intel-TA-01234</code> to <code>INTEL-TA-01234</code>.
      </li>
      <li>
        Convert <code>metadata_license</code> and <code>project_license</code>
        values into standard types.
      </li>
    </ul>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="extended" name="extended" value="1"/>
      <label class="custom-control-label" for="extended">
        Perform additional tests (takes more than 1 hour to complete)
      </label>
    </div>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_update_descriptions')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Update Description
    </h2>
    <p class="card-text">
      Replace text in the update description. Be careful!
    </p>
    <div class="form-group">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input class="" type="text" name="search" value="" required/>
      →
      <input class="" type="text" name="replace" value="" required/>
    </div>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_eventlog_delete')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Eventlog delete
    </h2>
    <p class="card-text">
      Delete eventlog entries using <code>ILIKE Event.message</code>. Be careful!
    </p>
    <div class="form-group">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input class="" type="text" name="value" value="" required/>
    </div>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_generate_stats')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Generate daily stats
    </h2>
    <p class="card-text">
      Generate stats for the last 30 days.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_upload_ipfs')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Mirror all firmware to IPFS.
    </h2>
    <p class="card-text">
      Invalidate and then reupload all firmware to the IPFS.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

{% endblock %}
