{% extends "default.html" %}
{% block title %}Target{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

<div class="card-deck">
  <div class="card {{'border border-dark' if fw.remote.name == 'private'}}">
    <h2 class="card-header card-title list-group-item-info">Private</h2>
    <div class="card-body">
      <p class="card-text">Firmware is only available to your specific user.</p>
{% if fw.remote.name != 'private' %}
{% if fw.check_acl('@promote-private') %}
      <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='private')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn-block btn btn-primary">Move here</button>
      </form>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
  <div class="card {{'border border-dark' if fw.remote.name.startswith('embargo')}}">
    <h2 class="card-header card-title list-group-item-success">Embargo</h2>
    <div class="card-body">
      <p class="card-text">Firmware is available to anyone in your vendor group.</p>
{% if not fw.remote.name.startswith('embargo') %}
{% if fw.check_acl('@promote-embargo') %}
      <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='embargo')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-primary btn-block">Move here</button>
      </form>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
  <div class="card {{'border border-dark' if fw.remote.name == 'testing'}}">
    <h2 class="card-header card-title list-group-item-warning">Testing</h2>
    <div class="card-body">
      <p class="card-text">Firmware is available to thousands of public testers.</p>
{% if fw.remote.name != 'testing' %}
{% if fw.check_acl('@promote-testing') %}
{% if fw.remote.name != 'stable' %}
{% if fw.problems|length == 0 %}
      <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='testing')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-primary btn-block">Move here</button>
      </form>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Unavailable due to problems
      </button>
{% endif %}
{% else %}
      <button class="card-link btn btn-block btn-primary" data-toggle="modal" data-target="#demoteTestingModal">
        Move here
      </button>
{% endif %}
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
  <div class="card {{'border border-dark' if fw.remote.name == 'stable'}}">
    <h2 class="card-header card-title list-group-item-danger">Stable</h2>
    <div class="card-body">
      <p class="card-text">Firmware is available to millions of public end-users.</p>
{% if fw.remote.name != 'stable' %}
{% if fw.check_acl('@promote-stable') %}
{% if fw.problems|length == 0 %}
      <button class="card-link btn btn-block btn-warning" data-toggle="modal" data-target="#promoteStableModal">
        Move here
      </button>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Unavailable due to problems
      </button>
{% endif %}
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">History</h2>
<table class="table">
  <tr class="row table-borderless">
    <th class="col">Action</th>
    <th class="col">Timestamp</th>
    <th class="col">User</th>
    <th class="col">Target</th>
  </tr>
{% for ev in fw.events %}
  <tr class="row">
    <td class="col">{{ev.kind_display}}</td>
    <td class="col">{{ev.timestamp.strftime('%F %T')}}</td>
    <td class="col text-truncate">{{ev.user.username}}</td>
    <td class="col">
{% if ev.remote_old %}
      <span class="badge badge-{{ev.remote_old.color}}">{{ev.remote_old.name}}</span>
      →
{% endif %}
      <span class="badge badge-{{ev.remote.color}}">{{ev.remote.name}}</span>
    </td>
  </tr>
{% endfor %}
</table>
  </div>
</div>

{% if fw.revisions %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Revisions</h2>
<table class="table">
  <tr class="row table-borderless">
    <th class="col-2">Timestamp</th>
    <th class="col">Filename</th>
{% if g.user.check_acl('@admin') %}
    <th class="col-2"></th>
{% endif %}
  </tr>
{% for rev in fw.revisions %}
  <tr class="row">
    <td class="col-2">{{rev.timestamp.strftime('%F %T')}}</td>
    <td class="col">
{% if fw.inhibit_download %}
      <code>{{rev.filename}}</code>
{% else %}
      <a href="{{rev.url}}"><code>{{rev.filename}}</code></a>
{% endif %}
    </td>
{% if g.user.check_acl('@admin') %}
    <td class="col-2">
{% if rev.immutable %}
        <form action="{{url_for('firmware.route_revision_modify', firmware_id=fw.firmware_id, firmware_revision_id=rev.firmware_revision_id, value=False)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-block btn-danger">Allow Cleanup</button>
        </form>
{% else %}
        <form action="{{url_for('firmware.route_revision_modify', firmware_id=fw.firmware_id, firmware_revision_id=rev.firmware_revision_id, value=True)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-block btn-warning">Preserve</button>
        </form>
{% endif %}
    </td>
{% endif %}
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endif %}

<!-- modal dialog -->
<div class="modal" id="demoteTestingModal" tabindex="-1" role="dialog" aria-labelledby="demoteTestingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoteTestingModalLabel">Important Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          Demoting a firmware from stable to testing means that references to
          the file are removed from the LVFS metadata.
        </p>
        <p class="card-text">
          Unless the firmware is deleted, users could still automatically
          download the file until new metadata files are downloaded.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='testing')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Demote back to testing</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="promoteStableModal" tabindex="-1" role="dialog" aria-labelledby="promoteStableModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promoteStableModalLabel">Important Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          Pushing the firmware to the stable remote means it becomes available to
          millions of people.
        </p>
        <p class="card-text">
          Only tested firmware should be pushed to stable.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='stable')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-primary">Promote to stable</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
