{% extends "default.html" %}
{% block title %}New Firmware{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">New Firmware</h2>
    <p class="card-text">
      This list shows the 50 latest public firmwares available on the LVFS.
    </p>
  </div>
</div>

{% if fwevs|length == 0 %}
<p class="text-muted">
  No firmware has been uploaded yet.
</p>
{% else %}

{% for fwev in fwevs %}
<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">{{fwev.fw.vendor.display_name}} {{fwev.fw.md_prio.name_with_category}}</h4>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">
      {{fwev.fw.version_display}} released {{format_humanize_naturaltime(fwev.timestamp)}}.
    </p>
    <a href="{{url_for('devices.route_show', appstream_id=fwev.fw.md_prio.appstream_id)}}"
       class="card-link">Details</a>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
