{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h2 class="card-title">Report Attributes</h2>
    <p class="card-text">
      The following report attributes can be analyzed:
    </p>
    <ul class="list-group">
{% for attr in attrs %}
      <li class="list-group-item">
        <a href="{{url_for('analytics.route_reportattrs_kind', kind=attr)}}">
          <code>{{attr}}</code>
        </a>
      </li>
{% endfor %}
    </ul>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
  <h2 class="card-title">Report Export</h2>
    <p class="card-text">
      Export a raw JSON dump of reports matching specific attributes.
    </p>
    <form action="{{url_for('reports.route_export')}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group">
        <label for="exampleInputEmail1">Attributes</label>
        <input type="text" class="form-control fixed-width" name="attrs" placeholder="CpuArchitecture=x86_64,Pcr0_SHA1,Pcr0_SHA256"/>
      </div>
      <button type="submit" class="btn btn-primary">Export</button>
    </form>
  </div>
</div>
{% endblock %}
