<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('issues.route_list')}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
  </div>
  <div class="col col-sm-10 text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'issues.route_show' else 'default'}}"
        href="{{url_for('issues.route_show', issue_id=issue.issue_id)}}">Details</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'issues.route_conditions' else 'default'}}"
        href="{{url_for('issues.route_conditions', issue_id=issue.issue_id)}}">Conditions</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'issues.route_reports' else 'default'}}"
        href="{{url_for('issues.route_reports', issue_id=issue.issue_id)}}">Matching Reports</a>
    </div>
  </div>
</nav>
